* {
  border: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  padding: 0;
}

body {
  background: linear-gradient(to top, #DBDBD2 75%, #009688 50%);
  height: 99vh;
  overflow: hidden;
}

main {
  height: 100%;
  padding: 20px 0;
  width: 80%;
  margin: auto;
}

.main__sx {
  background-color: #FFFFFF;
  width: 30%;
  height: 100%;
  float: left;
}

.main__dx {
  background-image: url("../img/mine.jpg");
  width: 69%;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
}

.main__dx header {
  border-left: 1px solid rgba(177, 177, 177, 0.5);
}

header {
  height: 80px;
  background-color: #EAEAEA;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
}

.user img {
  height: 60px;
  width: auto;
  border-radius: 100%;
  margin: 10px;
}

.user span {
  font-weight: 700;
}

.icons i {
  padding: 10px;
  color: #B1B1B1;
}

.notification {
  background-color: #8EDAFC;
  height: 60px;
  padding: 10px;
  display: flex;
}

.notification__icon {
  height: 40px;
  width: 40px;
  color: #8EDAFC;
  background-color: #FFF;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.notification span {
  padding: 10px;
  font-size: 14px;
  line-height: 1px;
  display: block;
}

.user__text span {
  display: block;
}

.user__text span:last-child {
  font-size: 12px;
  color: #B1B1B1;
}

.notification__text a {
  font-size: 10px;
  text-decoration: underline;
  opacity: 0.6;
}

.search {
  width: 100%;
  margin: 5px;
}

input {
  width: 77%;
  height: 26px;
  padding-left: 10px;
  display: inline-block;
}

button {
  width: 18%;
  background-color: #FFF;
  padding: 5px 20px;
  margin-left: 5px;
}

footer {
  background-color: #F3EEEA;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text__area {
  height: calc(100% - 80px);
  overflow: auto;
  padding-bottom: 150px;
}
footer input {
  width: calc(100% - 20px);
  height: 45px;
}

footer i {
  padding: 0 25px;
}
