<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Vue ToDo List</title>
  <link rel="stylesheet" href="css/master.css">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>

<body>
  <main id="root">

    <div class="main__sx">

      <header>
        <div class="user">
          <img src="img/avatar_io.jpg" alt="">
          <span>Nome Utente</span>
        </div>
        <div class="icons">
          <i class="fas fa-circle-notch"></i><i class="fas fa-comment-alt"></i><i class="fas fa-ellipsis-v"></i>
        </div>

      </header>

      <div class="notification">
        <div class="notification__icon">
          <i class="fas fa-bell-slash"></i>
        </div>

        <div class="notification__text">
          <span>Ricevi notifiche di nuovi messaggi</span>
          <span><a href="#">Attiva notifiche desktop</a></span>
        </div>
      </div>

      <div class="search">
        <button><i class="fas fa-search"></i></button> <input placeholder="Cerca o inizia una nuova chat">
      </div>

      <div class="contacts__container">
        <a href="#">
          <div class="contacts">
            <div v-for="(item, index) in contacts" @click="contactActive = index" class="contact" :class=" contactActive == index ? 'active' : ''">
              <img :src="'img/avatar' + item.avatar + '.jpg'"><span>{{ item.name }}</span>
            </div>
          </div>
        </a>
      </div>

    </div>

    <div class="main__dx">
      <header>
        <div class="user">
          <img :src="'img/avatar' + contacts[contactActive].avatar + '.jpg'" alt="avatar">
          <div class="user__text">
            <span>{{ contacts[contactActive].name }}</span>
            <span>Ultimo accesso oggi alle</span>
          </div>
        </div>
        <div class="icons">
          <i class="fas fa-search"></i>
          <i class="fas fa-paperclip"></i>
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </header>

      <div class="text__area">


        <div v-for="item in contacts[contactActive].messages" class="user__txt">
          {{item.message }}
          <div class="txt__date">30/03/2021 10:30:55</div>
        </div>



        <div class="contact__txt">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          <div class="txt__date">30/03/2021 10:30:55</div>
        </div>


      </div>



      <footer>
        <i class="far fa-smile"></i>

        <input type="text" placeholder="Scrivi un messaggio">

        <i class="fas fa-microphone"></i>
      </footer>

    </div>



  </main>
  <script src="js/script.js"></script>
</body>

</html>
